/vscode/
/build/
/.pytest_cache/
/dist/
/.vscode/
/None/
/dist/

# Cache directories
__pycache__/
*.pyc

.env
.project
.pydevproject
.log
.png

main.spec
pomysły_todo
chromedriver.exe
debug_screenshot.png
debug_screenshot2.png
leaderboard_new.json
crash-log.log
settings.json



